doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    .workspace
      .vertical
        .item
          .horizontal
            .item(style='background:pink')
              a Up
              button.poo Split Left
            .item
              .vertical
                .item
                  .horizontal
                    .item
                      a How Low
                    .item
                      a Can you go
                .item(style='background:orange')
                  a Strange
            .item(style='background:blue')
              a Another
        .item
          a Right
          button.poo2 Split Up
        .item(style='background:green')
          a Dang
    script(src='jquery.min.js')
    script(src='paneless.js')
    script(type='text/javascript')
      | $('.workspace').paneless();
      | $('.poo').click(function() {
      |   $('.workspace').paneless('split', this, 'left');
      | });
      | $('.poo2').click(function() {
      |   $('.workspace').paneless('split', this, 'up');
      | });
